@import "config";
@import "nav";
@import "footer";
@import "contact";
// @import "menu";

* {
  box-sizing: border-box;
}

body {
  @include background1;
  background: $primary-color;
  color: #fff;
  height: 100vh;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  overflow-x: hidden;
}

// Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
  &.lg-heading {
    font-size: 6rem;
  }
  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    // background: rgba(lighten($primary-color, 2), 0.5);
  }
}

a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  height: 100%;
  text-align: center;
  .main__arrow {
    cursor: pointer;
    // background: #000;
    border: 2px solid #fff;
    display: inline-block;
    margin-top: 5%;
    padding: 0.8rem;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    // width: 50%;
    columns: #fff;
    @include easeOut;
    i {
      @include easeOut;
    }
    &:hover {
      background: rgb(133, 35, 35);
      i {
        transform: rotate(90deg);
      }
    }
  }
  .icons {
    margin-top: 1rem;
    a {
      padding: 0.9rem;
      &:hover {
        color: $secondary-color;
        // padding-top: 1rem;
        @include easeOut;
      }
    }
  }

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/way1.jpg);
  background-position: 0 100%;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -2;
  animation-name: fadeslow;
  animation-duration: 1s;
  opacity: 0;
  // z-index: 2;
  // display: none;
  h1 {
    text-align: center;
    position: relative;
    top: 85%;
  }
}

@keyframes fadeslow {
  0% {
    opacity: 1;
    // display: block;
    z-index: 5;
  }

  50% {
    opacity: 1;
    // display: block;
    z-index: 5;
  }

  100% {
    opacity: 0;

    // transform: translateX(-100%);
  }
}

@keyframes flash {
  0% {
    display: none;
  }
}

#about {
  // background: #000;
  width: 90%;
  margin: 0 auto;

  padding: 5rem;
  h1 {
    text-align: center;
    color: #000;
    font-size: 3rem;
    padding: 3rem;
    margin-bottom: 3rem;
    font-weight: 500;
  }
  .about_content {
    display: flex;
    flex-wrap: wrap;

    .about_content_left {
      .img_container {
        background: url("../img/sky1.jpg") no-repeat center center;
        background-size: cover;
        height: 200px;
        padding: 0;
        border-radius: 50%;
        min-width: 200px;
      }

      // z-index: 3;
      // float: left;
      // height: 450px;
      width: 30%;
      // img {
      //   min-width: 200px;
      //   width: 80%;
      //   border-radius: 50%;
      // }
    }
    .intro_text {
      p {
        &::first-letter {
          color: blue;
          font-size: 1.3rem;
        }
        font-family: "Lato", sans-serif;
        font-size: 1.2rem;
        color: #000;
      }
    }

    .about_skills {
      // border: 2px solid black;
      padding: 1rem;
      width: 65%;
      margin-left: 1rem;
      // background: blue;
      .progressbar {
        display: flex;
        &:not(:last-child) {
          margin-bottom: 1rem;
        }
        .prefix {
          color: #fff;
          background: darken(green, 5);
          padding: 0.8rem;
          min-width: 100px;
        }
        .append {
          width: 100%;
          // background: blue;
          display: flex;
          .append_prefix {
            background: green;
            width: 90%;
          }

          .number {
            width: 10%;
            background: rgb(212, 209, 209);
            color: rgb(71, 69, 69);
            padding: 0.8rem;
            text-align: right;
            // align-self: center;
          }
          #append_prefix_2 {
            // background: green;
            width: 70%;
          }
          #number_2 {
            width: 30%;
          }
          #append_prefix_3 {
            // background: green;
            width: 70%;
          }
          #number_3 {
            width: 30%;
          }
          #append_prefix_4 {
            // background: green;
            width: 80%;
          }
          #number_4 {
            width: 20%;
          }
          #append_prefix_5 {
            // background: green;
            width: 85%;
          }
          #number_5 {
            width: 15%;
          }
        }
      }
    }
  }
}

// project styling
#projects {
  // height: 800px;
  padding-top: 5rem;
  padding-bottom: 10rem;
  > h1 {
    padding: 4rem;
  }
  // background: #000;
  background: rgb(212, 210, 210);
  color: #000;

  .filter-wrap {
    position: relative;
    padding: 2rem 0;
  }
  .flex.row {
    flex-direction: row;
  }
  .flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .float-bar {
    top: 0;
    bottom: 0;
    left: 30px;
    position: absolute;
    margin: auto 0;
    overflow: hidden;
    height: 25px;
    border-radius: 1px;
    background: #e31b6d;
    transition: all 0.5s ease-in-out;
  }
  .float-bar .row .filter {
    color: #fff;
  }
  .float-bar .row {
    top: 0;
    bottom: 0;
    left: -30px;
    position: absolute;
    margin: auto 0;
    transition: left 0.5s ease-in-out;
  }
  .filter {
    font-size: 13pt;
    padding: 0 40px;
    margin: 0 25px;
    cursor: pointer;
    transition: background-color 0.5s;
  }

  .projects_items {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-row-gap: 0;
    display: none;

    grid-template-columns: repeat(3, 1fr);
    &.active {
      @include easeOut;
      display: grid;
    }
    .project_item {
      position: relative;
      img:hover {
        @include easeOut;
      }
      .project-text {
        opacity: 0;
        position: absolute;
        top: 0%;
        margin: 0 auto;
        right: 0;
        left: 0;

        text-align: center;
        h1 {
          font-weight: 400;
          font-size: 2rem;
        }
        h3 {
          color: red;
        }

        @include easeOut;
      }
      .github {
        opacity: 0;
        top: 5%;
        right: 5%;
        z-index: 5;
        position: absolute;
        i {
          color: black !important;
        }

        @include easeOut;
      }
      .project_item_btn {
        // display: none;
        opacity: 0;

        position: absolute;
        bottom: 0%;
        margin: 0 auto;
        right: 0;
        left: 0;
        width: 170px;
        color: #000;
        border: 2px solid rgb(133, 35, 35);
        text-align: center;
        @include easeOut;
        &:hover {
          background: rgb(133, 35, 35);
          color: #fff;
        }
      }
      &:hover {
        .project_item_btn {
          opacity: 1;
          display: block;

          bottom: 20%;
          padding: 0.5rem 1rem;

          border: 2px solid rgb(133, 35, 35);
          text-align: center;
          z-index: 5;
        }
        .project-text {
          opacity: 1;
          display: block;
          top: 20%;
        }
        .github {
          opacity: 1;
        }
        img {
          opacity: 0;
        }
      }
    }

    img {
      width: 100%;
    }
  }
  > h1 {
    font-size: 3rem;
    text-align: center;
    font-weight: 500;
  }
}

.filter-wrap {
  position: relative;
  padding: 2rem 0;
}
.flex.row {
  flex-direction: row;
}
.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.filter {
  font-size: 13pt;
  padding: 0 40px;
  margin: 0 25px;
}
.float-bar {
  top: 0;
  bottom: 0;
  left: 30px;
  position: absolute;
  margin: auto 0;
  overflow: hidden;
  height: 25px;
  border-radius: 1px;
  background: #e31b6d;
  transition: all 0.5s ease-in-out;
}
.float-bar .row .filter {
  color: #fff;
}
.float-bar .row {
  top: 0;
  bottom: 0;
  left: -30px;
  position: absolute;
  margin: auto 0;
  transition: left 0.5s ease-in-out;
}
.filter {
  font-size: 13pt;
  padding: 0 40px;
  margin: 0 25px;
  cursor: pointer;
  transition: background-color 0.5s;
}

@import "mobile";
